
NENBOT_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
NENBOT_ADMIN_ID=YOUR_TG_ID
NENBOT_REFERRAL_LINK=https://app.hotstuff.trade/join/chromadera
NENBOT_REFERRAL_CODE=chromadera
NENFEED_MARKETS=BTC-PERP,ETH-PERP,SOL-PERP,HYPE-PERP,ZEC-PERP,XRP-PERP,BNB-PERP,GOLD-PERP,SILVER-PERP,BRENTOIL-PERP,WTIOIL-PERP,NATGAS-PERP,X-PERP,EURUSD-PERP,USDJPY-PERP,USA500-PERP,USA100-PERP
